.container-projects {
  width: 90%;
  height: 75%;
  min-height: 566px;
  display: flex;
  margin: auto 4em;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .content{
    padding-right: 0;
  }
}

// CSS of the left button
.previous-button {
  height: 100%;
  width: 3em;
  display: flex;
  align-items: center;
  animation: fadeIn 1s 0.5s backwards;

  svg {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
  }

  svg:hover {
    color: #e45c48;
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 768px) {
  .previous-button {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    animation: fadeIn 1s 0.5s backwards;

    svg {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-out;
    }

    svg:hover {
      color: #e45c48;
      transform: scale(1.2);
    }
  }
}

// CSS of the card list content
.card-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  animation: fadeIn 1s 1s backwards;
}

@media only screen and (max-width: 768px) {
  .card-list {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    animation: fadeIn 1s 1s backwards;
  }
}


// CSS of the right button
.next-button {
  height: 100%;
  width: 3em;
  display: flex;
  align-items: center;
  animation: fadeIn 1s 0.5s backwards;

  svg {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
  }

  svg:hover {
    color: #e45c48;
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 768px) {
  .next-button {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    animation: fadeIn 1s 0.5s backwards;

    svg {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-out;
    }

    svg:hover {
      color: #e45c48;
      transform: scale(1.2);
    }
  }
}
