/* app */
.app {
  height: 100%;
  width: 100%;
}

/* Side Menu */
.side-menu {
  display: inline-block;
  height: 100%;
  width: 5.5em;
}

/* App Container */
.page {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-tags {
  top: 2em;
  left: 4em;
}

.bottom-tags {
  bottom: 2em;
  left: 4em;
}

.tags {
  color: #e45c48;
  opacity: 0.6;
  position: absolute;
  font-size: 18px;
  font-family: 'La belle Aurore';
}

.bottom-tag-html {
  margin-left: -1em;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  will-change: contents;
  height: 100%;
  min-height: 566px;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}