/*
  To do:
  - Add text description on hover on the side menu icon
*/

/* Nav-Bar background */
.nav-bar {
  background: #2c2d32;
  width: 100%;
  height: 100%;
  z-index: 3;
  //min-height: 500px;
}

/* Nav-Bar Flex Container */
.nav-bar-container {
  margin-bottom: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .nav-bar-container {
    //margin-bottom: 2em;
    margin: 0 1em;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
}

/* Logo */
.logo {
  width: 100%;
  height: 15%;

  a {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  img {
    height: 4em;
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 20%;
    height: auto;

    a {
      display: flex;
      justify-content: flex-start;
      margin-top: 0;
    }

    img {
      height: 4em;
      width: 5em;
    }
  }
}

/* Menu */
.menu {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d7d7d7;

    a {
      font-size: 22px;
      position: relative;
      margin: 0.4em 0;
      text-decoration: none;
      text-align: center;
      height: 1.5em;
      transition: all 0.3s ease-out;

      svg {
        // visibility: visible;
        display: block;
        opacity: 1;
        transition: all 0.3s ease-out;
      }
    }

    a:hover svg {
      color: #e45c48;
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #d7d7d7;

      a {
        font-size: 22px;
        position: relative;
        margin: 0 0.4em;
        text-decoration: none;
        text-align: center;
        height: auto;
        transition: all 0.3s ease-out;

        svg {
          display: block;
          opacity: 1;
          transition: all 0.3s ease-out;
        }
      }

      a:hover svg {
        color: #e45c48;
        transform: scale(1.2);
      }
    }
  }
}

/* Socials */
.social {
  height: 15%;
  display: flex;
  align-items: flex-end;
}

.socialList {
  padding-bottom: 1em;
  list-style: none;
  text-align: center;

  li {
    a {
      padding: 0.2em 0;
      display: block;
      font-size: 16px;
      line-height: 18px;
      color: #d7d7d7;

      &:hover svg {
        color: #e45c48;
        transition: all 0.3s ease-out;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .social {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .socialList {
    display: flex;
    align-content: space-between;
    padding-bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;

    li {
      a {
        padding: 0.2em 0;
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: #d7d7d7;

        &:hover svg {
          color: #e45c48;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}